In [1]:
import pandas as pd

In [2]:
df_messy_data = pd.read_csv('messy_data.csv')

In [3]:
def standardize_text(text):
    if pd.isna(text):  
        return text
    return text.strip().title()

In [4]:
columns_to_clean = ['Name', 'Address']
for column in columns_to_clean:
    if column in df_messy_data:  
        df_messy_data[column] = df_messy_data[column].apply(standardize_text)

In [5]:
for column in columns_to_clean:
    if column in df_messy_data:
        df_messy_data[column] = df_messy_data[column].apply(lambda _: f"{column}_PLACEHOLDER")

In [7]:
df_messy_data[df_messy_data['Email']=='unknown@example.com']

Empty DataFrame
Columns: [Name, Email, Phone, Birth Date, Address, Salary]
Index: []

In [9]:
df_messy_data[df_messy_data['Birth Date']=='Unknown']

Empty DataFrame
Columns: [Name, Email, Phone, Birth Date, Address, Salary]
Index: []

In [10]:
df_messy_data['Salary'] = df_messy_data['Salary'].fillna(0)

In [ ]:
df_messy_data['Salary'] = df_messy_data['Salary'].astype(float)

In [12]:
df_messy_data.to_csv('cleaned_data.csv')