# Pandas Basics

Import Pandas

In [1]:
import pandas as pd

Read the csv file into variable **df_books** and print the first 6 rows

In [2]:
df_books = pd.read_csv('books.csv')
df_books.head(6)

       Country Code  Year             Book_titles
0      Belgium  BEL  1500                    25.6
1       France  FRA  1500     351.764.705.882.353
2      Germany  DEU  1500   4.523.809.523.809.520
3      Ireland  IRL  1500                       0
4        Italy  ITA  1500   6.530.000.000.000.000
5  Netherlands  NLD  1500  39.545.798.803.578.200

Select and display only the contries and booktitles

In [3]:
select_columns = df_books[['Country', 'Book_titles']]
print(select_columns)

             Country             Book_titles
0            Belgium                    25.6
1             France     351.764.705.882.353
2            Germany   4.523.809.523.809.520
3            Ireland                       0
4              Italy   6.530.000.000.000.000
...              ...                     ...
8307          Norway  32.767.646.427.805.100
8308          Russia   8.984.884.202.847.490
8309          Sweden  25.044.150.110.375.200
8310     Switzerland  14.604.155.707.522.300
8311  United Kingdom  21.148.528.136.403.000

[8312 rows x 2 columns]

Filter only the data where Country is North Macedonia

In [4]:
filter_df = df_books[df_books['Country'] == 'North Macedonia']
print(filter_df)

              Country Code  Year             Book_titles
7925  North Macedonia  MKD  1990  30.031.788.567.612.600
8102  North Macedonia  MKD  1994  34.728.071.961.526.200
8148  North Macedonia  MKD  1995   4.529.059.675.094.980
8194  North Macedonia  MKD  1996     452.538.732.140.701

Filter only the data for the countries Germany, Spain, France, United Stated and year is after 1990

In [6]:
filtered_df = df_books[
    (df_books['Country'].isin(['Germany', 'Spain', 'France', 'United States'])) &
    (df_books['Year'] > 1990)
]
print(filtered_df)

            Country Code  Year             Book_titles
7960         France  FRA  1991   7.465.221.998.154.280
7961        Germany  DEU  1991   8.487.921.696.178.060
7983          Spain  ESP  1991   9.903.850.895.576.020
7990  United States  USA  1991  18.993.066.631.244.700
8003         France  FRA  1992     770.978.100.205.576
8004        Germany  DEU  1992   8.347.253.901.485.400
8027          Spain  ESP  1992  10.573.095.880.654.400
8036  United States  USA  1992   1.918.143.816.012.900
8048         France  FRA  1993   6.968.851.932.599.840
8049        Germany  DEU  1993   8.283.510.167.199.550
8067          Spain  ESP  1993  10.285.259.104.976.500
8075  United States  USA  1993   1.911.853.094.187.280
8089         France  FRA  1994   7.622.339.978.131.040
8090        Germany  DEU  1994   8.676.991.389.360.700
8112          Spain  ESP  1994  11.151.402.670.395.700
8119  United States  USA  1994  19.687.159.073.554.900
8133         France  FRA  1995   5.822.280.278.670.950
8134        Germany  DEU  1995   9.083.972.702.180.720
8157          Spain  ESP  1995   1.219.304.339.666.330
8164  United States  USA  1995   2.327.418.856.773.160
8178         France  FRA  1996   8.189.760.090.695.380
8179        Germany  DEU  1996   8.732.985.408.459.300
8204          Spain  ESP  1996  11.639.583.719.445.600
8212  United States  USA  1996  25.281.143.466.100.400

Select only the countries and codes, save them in a new dataframe. Write the dataframe into a new csv file

In [7]:
new_df = df_books[['Country', 'Code']]
new_df.to_csv('countries_and_codes.csv', index=False)

### Bonus
Filter the countries that contain the string "an" in their name and write it to a csv file

In [8]:
filtered_df = df_books[df_books['Country'].str.contains('an', case=False, na=False)]
filtered_df.to_csv('filtered_countries.csv', index=False)